<section id="banner">
  <h2>Angular 6 boilerplate</h2>
  <p>Serves as a getting start template. Remove all unneccesary files before using.</p>
  <ul class="actions special">
    <li><a href="#" class="button primary">Sign Up</a></li>
    <li><a href="#" class="button">Learn More</a></li>
  </ul>
</section>

<section id="main" class="container">
  <div class="row">
    <div class="col-6 col-12-narrower">

      <section class="box special">
        <span class="image featured"><img src="/src/assets/pic02.jpg" alt=""></span>
        <h3>Sed lorem adipiscing</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
        <ul class="actions special">
          <li><a href="#" class="button alt">Learn More</a></li>
        </ul>
      </section>

    </div>
    <div class="col-6 col-12-narrower">

      <section class="box special">
        <span class="image featured"><img src="/src/assets/pic03.jpg" alt=""></span>
        <h3>Accumsan integer</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
        <ul class="actions special">
          <li><a href="#" class="button alt">Learn More</a></li>
        </ul>
      </section>

    </div>
  </div>
</section>